numpy>=1.17
tensorflow
transformers==4.51.0
scikit-learn
pandas
matplotlib
seaborn
filelock==3.18.0
huggingface-hub>=0.30.0,<1.0
packaging>=20.0
pyyaml>=5.1
regex!=2019.12.17
requests
tokenizers>=0.21,<0.22
safetensors>=0.4.3
tqdm>=4.27
fsspec>=2023.5.0
typing-extensions>=3.7.4.3
charset-normalizer<4,>=2
idna<4,>=2.5
urllib3<3,>=1.21.1
certifi>=2017.4.17 